* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.father {
    /* position: relative; */
    width: 400px;
    height: 30px;
    margin: 50px auto;
    /* background-color: red; */
    text-align: center;
    box-shadow: 0 0 5px #ccc;
}

.currer {
    background-color: #ccc;
}

li {
    list-style: none;
    float: left;
    width: 100px;
    line-height: 30px;
    cursor: pointer;
}

.item {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
}